.formulario{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formulario-img{
    width: 50%;
    display: flex;
    justify-content: center;
}

.formulario-img img{
    width: 60%;
    border-radius: 10%;
}

.formulario-container{
    width: 50%;
}

form .form-title h3{
    font-weight: 300;
    font-size: 32px;
}

form .form-inputs{
    margin: 20px 0px;
}

form .form-inputs input{
    width: 70%;
}

form .form-button{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form .form-button .info{
    padding: 1px 0;
    margin-top: 4px;
    margin-bottom: 0px;
}
form .form-button .info:hover{
    text-decoration: underline;
}

form .form-button .reset{
    font-size: 12px;
    margin-top: -10px;
}

form .form-button .reset:hover{
    color: brown;
    text-decoration: underline;
}
/*ERROR MENSAJE*/
.mg-error{
    width: 70%;
}




/*Pie del Formulario*/

.pie-form{
    background-color: rgb(58, 57, 57);
    margin-bottom: 200px;
    margin-top: 150px;
}

.pie-form .pie-container{
    display: flex;
    height: 300px;
    justify-content: space-between;
    align-items: center;
}

.text-info h3{
    color: rgb(141, 140, 140) ;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

.text-info p{
    color: rgb(141, 140, 140) ;
}

.img-info{
    display: flex;
    justify-content: space-around;
}

.img-info img{
    margin: 0 5px;
   width: 150px;
   border-radius: 15%;
}






@media only screen and (max-width: 800px) {
    .text-info h3{
        font-size: 20px;
    }

    .text-info p{
        text-align: center;
    }

    .img-info img{
        margin: 0 4px;
       width: 120px;
       border-radius: 10%;
    }
}

@media only screen and (max-width: 600px) {
    .text-info h3{
        font-size: 14px;
    }

    .text-info p{
        text-align: center;
        font-size: 12px;
    }

    .img-info img{
        margin: 0 4px;
       width: 100px;
       border-radius: 10%;
    }

    form .form-inputs input{
        width: 80%;
    }

    form .form-button{
        width: 80%;
    }

    form .form-title h3{
        font-size: 20px;
    }

    .img-info .messi-img{ 
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    form .form-button .info{
        font-size: 12px;
    }

    .img-info .tevez-img{ 
        display: none;
    }

}